<!DOCTYPE html>
<html>
  <head>
    <title>WebCampBackendNew</title>
    <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="m/FWoZ6uTLQcJ9gV1E+uTFfpibCGidpvYJNfQrfSdfIkezmI1BDh0PdLADMotqy4z3Oq86UJhdIVwWU+g0HdEw==" />

    <link rel="stylesheet" media="all" href="/assets/application-d12397cbc3a266ce5a99f7b588223090c55ca04a439953bb5f9304395de93fc3.css" data-turbolinks-track="reload" />
    <script src="/assets/application-4e370d3723b6f204426a9414077d365ea07814cce5619ae24fb7e581988f19ed.js" data-turbolinks-track="reload"></script>
  </head>

  <body>
    <h1>Editing Book</h1>
    
      <%= form_with model:@book, url:"edit_book_path(book)/edit", local:true do |f| %>
        <h4>Title</h4>
        <%= f.text_field :title %>
        <h4>body</h4>
        <%= f.text_area :body %>
        <%= f.submit 'Update Book' %>
      <% end %>



<!--formの中消す-->
<form class="edit_book" id="edit_book_path(book.id)" action="/books/book_path(book.id)" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="_method" value="patch" /><input type="hidden" name="authenticity_token" value="JMdzeNtmrW47nRiEJ1aF8ZFj4q4Met7cAmA2Ts4Ir1MWRJnnSv2i/cHdkjya7NWvQJIzk4BrRADrbOrGA8ZyfA==" />

  <div class="field">
    <label for="book_title">Title</label>
    <input class="book_title" type="text" value="book" name="book[title]" id="book.title" />
  </div>

  <div class="field">
    <label for="book_body">Body</label>
    <textarea class="bookbody" name="book[body]" id="book.body">
  </textarea>
  </div>

  <div class="actions">
    <input type="submit" name="commit" value="Update Book" data-disable-with="Update Book" />
  </div>
</form>

<a class="show" href="book_path(book)">Show</a>
<a class="back" href="/books">Back</a>

  </body>
</html>